{% load static %}
{% load nspace_extras %}
<h3 class="footer-title">Sobre namespace.mx</h3>
<p>
  <b>namespace.mx</b> nace como un esfuerzo por dejar constancia
  de mi esfuerzo personal por mejorar continuamente mis habilidades
  de programación.
  <br><br>
  Esta enfocado en Django y WordPress, aunque también de las tecnológias
  y estándares más modernos para el desarrollo web. Encontrarás además temas
  de Python, HTML5, CSS3, JavaScript, NodeJS, Mejora Continua, algunas notas
  sobre la norma ISO 9001. Únete a la comunidad <strong>namespace.mx</strong> 
  en <a href="https://plus.google.com/b/114479924547493244689/" 
  rel="publisher">Google+</a>.
</p>
<hr>
<div class="row">
  <div class="col-sm-3 col-xs-12">
    <a rel="me" class="footer-brand" href="https://namespace.mx" target="_blank">
      <img class="img-responsive center-block" src="https://d2rislaex5z39o.cloudfront.net/assets/img/namespace_logo.png" width="128px" height="51px" alt="namespace.mx" />
    </a>
  </div>
  <div class="develop col-sm-9 col-xs-12">
    <span>Desarrollado por</span><br>
    <span><strong>namespace.mx</strong> - Hablamos de Desarrollo Web</span>
  </div>
</div> 