<script type="text/javascript">
  var disqus_shortname  = 'namespacemx';
  var disqus_url        = 'https://namespace.mx/{{ article.permalink }}';
  var disqus_title      = '{{ article.title }}';
  var disqus_identifier = '{{ article.slug }}';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<span style="display:none;"><a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a></span>