{# Inicia el menu principal #}
<header class="navbar navbar-inverse bs-docs-nav navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Menú</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'home' %}" class="navbar-brand">namespace.mx</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'home' %}"><i class="fa fa-home"></i> Inicio</a>
        </li>
        <li>
          <a href="{% url 'mapa' %}"><i class="fa fa-sitemap"></i> Sitemap</a>
        </li>
        <li {% if mnTemas %}class="active"{% endif %}>
          <a data-toggle="dropdown" href="#"><i class="fa fa-folder-open"></i> Temas <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

          </ul>
        </li>
        <li><a href="/contacto/" title="Formulario de Contacto"><i class="fa fa-envelope"></i> Contacto</a></li>
        <li><a href="/politica/" title="Política de Privacidad"><i class="fa fa-shield"></i> Política</a></li>
      </ul>
    </nav>
  </div>
</header>
{# Termina el menu principal #}