{% extends 'koding/base.html' %}

{% block title %}Archivo de la etiqueta {{tag}} en namespace.mx{% endblock %}
{% block meta_description %}Aquí encontrarás todos los artículos publicados en namespace.mx etiquetados con: {{ tag }}{% endblock %}
{% block meta_header %}<meta name="robots" content="noindex,nofollow">{% endblock meta_header %}

{% block before_main %}
<div class="bs-header" id="content" role="masthead">
  <div class="container">
    <h1><i class="fa fa-tag"></i> {{ tag }}</h1>
    <p>Aquí encontrarás todos los artículos publicados en <strong>{{SITENAME}}</strong> etiquetados con: <strong>{{ tag }}</strong>.</p>
  </div>
</div>
{% endblock before_main %}

{% block content %}
{% include "koding/modules/archivo.html" %}

  {% include "koding/modules/pagination.html" %}
{% endblock content %}
