# Environment variables for nspace project
# This is an example file. Copy it to .env and fill in the values.

# Django Core
SECRET_KEY='your-secret-key-goes-here'
DEBUG=True

# Bitly API
BITLY_LOGIN=''
BITLY_API_KEY=''
DATABASE_URL=sqlite:////path/to/your/db.sqlite3
